@import "../../index.scss";

.create-offer {
  .content {
    width: 100%;
    padding: 32px 100px;
    margin: 0 auto;
    font-size: 2rem;
    font-weight: 600;
    .header-content {
      margin: 20px 0;
    }
  }
}
