@import "../../index.scss";

.sch-detail {
  .cover-bg {
    height: 400px;
    width: 100%;
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      z-index: 1;
    }
  }

  .container {
    padding: 20px;
    margin-top: -80px;
    z-index: 20;

    .content {

      .title {
        h1 {
          font-weight: bold;
          margin-bottom: 0px;
        }

        p {
          color: gray;
          font-size: 1rem;
        }
      }

      .side-card {
        background: $gray;
        border-radius: 20px;
        padding: 20px;
        margin-bottom: 20px;

        h2 {
          margin-top: 0px;
          font-size: 1.1rem;
          font-weight: bold;
        }

        h3 {
          font-size: 0.8rem;
          color: gray;
          margin-bottom: 0px;
        }

        p {
          font-size: 0.85rem;
          margin-bottom: 0px;
        }

        .checklist {
          margin-top: 10px;
          font-size: 1rem;
        }
      }

      .donor-profile {
        position: absolute;
        top: -30px;
        right: 70px;
        background-color: white;
        width: 140px;
        height: 140px;
        text-align: center;
        vertical-align: middle;
        line-height: 120px;
        border: solid 10px $primary;
        border-radius: 20px;
        box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
        img {
          max-width: 100px;
          max-height: 100px;
        }
      }

      .btn {
        width: 200px;
        height: 50px;
        font-size: 1.2rem;
        font-weight: 600;
        border: none;
        margin-top: 20px;
        box-shadow: 0px 9px 20px rgba(0, 0, 0, 0.15);
        border-radius: 12px;

        &.disabled {
          background: lightgray;
        }

        &.enabled {
          background: linear-gradient(130.88deg, #5270ec 18.65%, #a35cfd 94.43%);
        }
      }

      padding: 40px 60px;
      background: white;
      z-index: 40;
      position: relative;
      border-radius: 20px;
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    }
  }
}
